*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Shared style here */
.logo-color{
    color: rgb(230, 83, 60);
}
.text-color-1{
    color: rgb(255, 255, 255);
}
.text-color-2{
    color: rgba(255, 255, 255, 0.5);
}
.color-button{
    background-color: rgb(230, 83, 60);
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
/* Nav-bar */
.header{
    background: linear-gradient(180.00deg, rgb(54, 54, 54),rgba(112, 112, 112, 0) 100%);
    height: auto;
}
.logo{
    font-weight: 800;
    font-size: 2rem;
}
.nav-bar{
    padding: 15px 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu > ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 7px;
}
.nav-menu > ul > a{
    text-decoration: none;
}
.nav-menu > ul > a > li{
    font-size: 1.12rem;
    font-weight: 400;
    list-style: none;
    color: rgb(255, 255, 255);

}
.home-menu-style{
    background-color: rgb(230, 83, 60);
    padding: 5px 10px;
    border-radius: 20px;
}
#hambarger{
    color: rgb(255, 255, 255);
    display: none;
}

/* Banner style */
.banner-container{
    display: flex;
    gap: 70px;
}
.benner-description{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.benner-description >h1{
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;
}
.background-image{
    width: 50%;
    height: 500px;
    background-image: url("../images/Images-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.banner-button{
    display: flex;
    gap: 15px;
}
.download-app-button{
    background: none;
    padding: 10px 40px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.all-video{
    display: flex;
    justify-content: space-between;

}
.video-tutorial{
    padding: 20px 15px;
    background: rgba(107, 107, 107, 0.733);
    border-radius: 12px;
    align-items: center;
    display: flex;
    gap: 10px;
    position: relative;
    top: 325px;
    left: 80px;
}

.video-tutorial h4{
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}
.video-tutorial p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.video-dot{
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;

}
.free-videos{
    padding: 20px 15px;
    background: rgba(107, 107, 107, 0.733);
    border-radius: 12px;
    position: relative;
    top: 90px;
    left: 70px;
}

.free-videos h3{
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}
.free-videos p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
/* change-your-habbit */
.change-your-habbit{
    display: flex;
    flex-direction: column;
}
.change-description{
    text-align: center;
}
.change-description h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 15px;
}
.change-description p{
    font-size: 0.87rem;
    font-weight: 400;
}
.change-your-habbit-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-items: center;
    margin-top: 55px;
    gap: 40px;
}
.habbit-card{
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}
.habbit-card img{
    width: 180px;
    border-radius: 130px;
    border: 3px solid rgba(255, 255, 255, 0.5);
}
.card-title{
    font-size: 1.12rem;
    margin-top: 30px;
    font-weight: 600;
}
.habbit-card p{
    font-size: 14px;
    font-weight: 0.87rem;
}
/* Run an extra start */
.run-an-extra{
    margin: 100px auto;
    background-color: rgb(34,34,34);
    display: flex;
    gap: 200px;
    padding: 30px;
    border-radius: 20px;
}
.run-an-extra-discription p{
    margin: 15px 0 25px 0;
}
.run-an-extra-discription h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 15px;
}
.run-an-extra-img img{
    width: 350px;
    border-radius: 20px;
}
/* Bmi Calculator */
.BMI{
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.bmi-calculator > h1{
    font-size: 3rem;
    font-weight: 900;
}
.bmi-calculator > p{
    font-size: 0.90rem;
    font-weight: 400;
    line-height: 24px;
}
.BMI-chart{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 100px;
}
.BMI-chart-calculator{
    width: 45%;
}
.BMI-chart-calculator > h2{
    font-size: 1.7rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 50px;
}
.BMI-chart-calculator > table{
    border-collapse: collapse;
    width: 310px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}
.BMI-chart-calculator > table, tr, td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 13px;
}
.bmi-calculator-test h2{
    font-size: 1.7rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
}
.bmi-calculator-test p{
    font-size: 0.90rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 35px;
}
.bmi-calculator-input{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 12px;
}
.input-1{
    grid-column: 1/ span 5;
    padding: 13px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
}
.input-2{
    grid-column: 6/ span 5;
    padding: 13px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
}
.input-3{
    grid-column: 1/ span 5;
    padding: 13px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
}
.input-4{
    grid-column: 6/ span 5;
    padding: 13px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    
}
.input-5{
    grid-column: 1/ span 10;
    padding: 13px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    margin-bottom: 30px;
}
.text-bmi{
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.6);
}
input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}
/* Meet our Team */
.meet-our-team h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}
.meet-our-team p{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 70px;
}
.meet-our-team-photo{
    background-color: rgb(34,34,34);
    border-radius: 20px;
}
.meet-our-team-photo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 20px;
    padding: 20px;
}
.photo-size{
    width: 280px;
    height: 220px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: end;
    gap: 10px;
    background: rgba(0, 0, 0, 0.2);
}
.photo-size h4{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 120%;
    color: rgb(255, 255, 255);
}
.photo-size h6{
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.5);
}
.trainer-photo-1{
    background-image: url("../images/trainer1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 15px;
}
.trainer-photo-2{
    background-image: url("../images/trainer2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 15px;
}
.trainer-photo-3{
    background-image: url("../images/trainer3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 15px;
}
.trainer-photo-4{
    background-image: url("../images/trainer4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.trainer-photo-5{
    background-image: url("../images/trainer5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 15px;
}
.trainer-photo-6{
    background-image: url("../images/trainer6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 15px;
}
/* Read Our Blogs */
.blog-content h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}
.blog-content p{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 70px;
}
.blog-card-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.blog-card{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}
.blog-card img{
    width: 100%;
    height: 220px;
    border-radius: 20px 20px 0 0;
}
.card-infomations{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}
.card-infomations h4{
    font-size: 1.12rem;
    font-weight: 600;
    color:  rgb(230, 83, 60);
}
.card-infomations h2{
    font-size: 1.5rem;
    font-weight: 600;
    color:  rgb(255, 255, 255);
    margin-bottom: 20px;
}
/* footer  */
footer{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 60px 0;
}
.footer-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    margin-bottom: 60px;
}
.footer-logo p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}
.footer-get-start{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-get-start h1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.footer-get-start h4{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 120%;
}
.footer-hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-top: 60px;
    margin-bottom: 30px;
}
.footer-all-right{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}