@media screen and (max-width: 576px) {
    /* Nav menu */
    .nav-menu > ul{
        display: none;
    }
    #hambarger{
        display: block;
    }
    /* banner style */
    .banner-container{
        flex-direction: column;
    }
    .benner-description{
        width: 100%;
    }
    .background-image{
        width: 100%;
        background-position: center bottom;
    }
    .free-videos{
        top: -37px;
        left: -20px;
    }
    .video-tutorial{
        top: 250px;
        left: 15px;
    }
    /* Habbit section */
    .change-your-habbit-card{
        display: grid;
        grid-template-columns: 1fr;
    }
    .habbit-card img{
        width: 240px;
        border-radius: 240px;
    }
    /* run-an-extra*/
    .run-an-extra{
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    .run-an-extra-discription{
        display: flex;
        flex-direction: column;
    }
    /* BMI Calculator */
    .BMI{
        padding: 30px;
    }
    .BMI-chart{
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
    .bmi-calculator > h1{
        font-size: 2rem;
        font-weight: 900;
    }
    .BMI-chart-calculator{
        width: 100%;
    }
    /* Meet our team */
    .photo-size{
        width: 350px;
        height: 280px;
    }
    .meet-our-team-photo{
        grid-template-columns: repeat(1, 1fr);
    }
    /* footer */
    .footer-section{
        grid-template-columns: repeat(1, 1fr);
    }
}
